<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.abhimehrotra.media.alldebrid</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-lc</string>
    <string>/Users/abhimehrotra/Library/Media/bin/start-alldebrid.sh</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>ALD_MOUNT_DIR</key>
    <string>/Users/abhimehrotra/mnt/alldebrid</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/abhimehrotra/Library/Logs/media/alldebrid.out</string>
  <key>StandardErrorPath</key>
  <string>/Users/abhimehrotra/Library/Logs/media/alldebrid.err</string>
</dict>
</plist>
