<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.controld.ctrld</string>
    <key>UserName</key>
    <string>root</string>
    <key>GroupName</key>
    <string>wheel</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/ctrld</string>
        <string>run</string>
        <string>--cd</string>
        <string>2eoeqoo9ib9</string>
        <string>--listen</string>
        <string>127.0.0.1:53</string>
        <string>--primary_upstream</string>
        <string>https://dns.controld.com/2eoeqoo9ib9</string>
        <string>--log</string>
        <string>/var/log/ctrld-switcher/ctrld.log</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/usr/local/var/ctrld</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
        <key>Crashed</key>
        <true/>
    </dict>
    <key>ThrottleInterval</key>
    <integer>5</integer>
    <key>StandardOutPath</key>
    <string>/var/log/ctrld-switcher/ctrld.out.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/ctrld-switcher/ctrld.err.log</string>
</dict>
</plist>
