[user]
	name = abhimehro
	email = abhimehro@pm.me
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILs85wxLcdzIE5jk4eXRWLEOyYEUPp0FYRKOnO+gQIK6 Personal SSH Key
[commit]
	gpgsign = true
	template = /Users/speedybee/.config/git/commit-template.personal-config.txt
[core]
	excludesfile = /Users/speedybee/.gitignore_global
	hooksPath = /Users/speedybee/.git-hooks
	pager = delta
[mergetool]
	keepBackup = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[fetch]
	prune = true
[pull]
	rebase = true
